<h1 class="text-center">Add a Restaurant</h1>


<%=render "form", restaurant: @restaurant %>
<%# <%=simple_form_for(@restaurant) do |f| %>
  <%# <%= f.input :name %>
  <%# <%= f.input :address %>
  <%# <%= f.input :phone_number %>
  <%# <%= f.input :category, collection: Restaurant::CATEGORY %>
  <%# <%= f.submit %>
<%# <% end %>

<%# <%= link_to "Go back to list", restaurants_path, class: "text-decoration-none" %>
