<h1>Write a Review</h1>

<%= render "form", restaurant: @restaurant, review: @review %>

<%# <%= simple_form_for [@restaurant, @review] do |f| %>
  <%# <%= f.input :content %>
  <%# <%= f.input :rating %>
  <%# <%= f.submit %>
<%# <% end %>


<%#
<%= link_to "Go back to list", restaurants_path, class: "text-decoration-none" %>
